{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
    <section class="home_body" >
        <div class="container px-4 px-lg-5 home_body">
            <div class="row gx-4 gx-lg-5">
                <div style="margin-top: 100px" class="col-lg-6">
                    <h1 class="mt-5">White On The Valley</h1>
                    <h5 class="fst-italic">
                        We believe in the language of flowers, where each bloom tells a story and every arrangement is a
                        masterpiece crafted with passion and creativity.
                        Step into our floral sanctuary and be captivated by the delicate fragrances and vibrant hues
                        that
                        fill the air. Whether you're celebrating a special occasion, expressing love and affection, or
                        simply seeking to brighten someone's day, our curated collection of exquisite blooms promises to
                        evoke emotions and create lasting memories.</h5>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

