{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>White On The Valley</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon"
          href="{% static 'startbootstrap-the-big-picture-gh-pages/assets/goodimage2.jpg' %}"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'startbootstrap-the-big-picture-gh-pages/css/styles.css' %}" rel="stylesheet"/>
</head>
<header class="content_header">
    <div class="container px-4 px-lg-5">
    <div class="navbar navbar-expand-lg ">
        <span>White On The Valley</span>
    </div>
    </div>
</header>
<body>

{% include 'layout/menu.html' %}

{% block content %}
    <section>
     <div class="container">
         <div class="text">
<h4>At White On The Valley, we take immense pride in curating exquisite floral arrangements that add a touch of elegance and beauty to any occasion. With our commitment to quality, creativity, and customer satisfaction, we have built a diverse portfolio showcasing our finest work.</h4>
     <h5>Whether you're sending a heartfelt gesture to a friend or surprising a loved one on a special occasion, we ensure that your flowers are delivered with care and attention to detail. Browse through our portfolio to see the joy our flowers bring to people's lives, one delivery at a time.
    At W.O.T.V., we believe that every flower tells a story, and we're honored to be a part of yours. Explore our portfolio and let us help you add a touch of floral magic to life's precious moments.</h5>
<h4 class="fw-bold">Contact us today to discuss your floral needs and let us create something extraordinary together.</h4>
     </div>
         
     </div>
            <div class="gallery_body">
                 <div class="main">
                      <div class="row">
                            <div class="column">
                                <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/8cb021b00e.jpg' %}"
                                     alt="">
                                <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/740fb1a2ccfbb.jpg' %}"
                                     alt="">
                                <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/c1952c00d5d0a7a.jpg' %}"
                                     alt="">
                                <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/5ffcd92cc.jpg' %}"
                                     alt="">
                                <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/8d30b445be.jpg' %}"
                                     alt="">
                                <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/8d243bfb1.jpg' %}"
                                     alt="">
                                <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/8951da2e1f7e2f2.jpg' %}"
                                     alt="">
                                <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/bd09c2bfc6772900.jpg' %}"
                                     alt="">
                            </div>
                            
                            <div class="column">
                                <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/22da84a9220986025.jpg' %}"
                                     alt="">
                                <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/486adba7b7e5608d5e.jpg' %}"
                                     alt="">
                                <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/2c98135c98.jpg' %}"
                                     alt="">
                                <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/faa695856fca541.jpg' %}"
                                     alt="">
                                <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/09c037de3be569ac746c0a.jpg' %}"
                                     alt="">
                                <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/6451e7641acb0.jpg' %}"
                                     alt="">
                                <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/3118c4de89aaf93f.jpg' %}"
                                     alt="">
                                <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/90ce1dd2e0f933.jpg' %}"
                                     alt="">
                            </div>

                            <div class="column">
                                <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/ce78450dbfc521b6df69.jpg' %}"
                                     alt="">
                                <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/7383c75.jpg' %}"
                                     alt="">
                                <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/7e6843cabec634a4bc.jpg' %}"
                                     alt="">
                                <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/96841613eea.jpg' %}"
                                     alt="">
                                <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/a0ca4cbd166b.jpg' %}"
                                     alt="">
                                <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/ab8fe819ab68bd.jpg' %}"
                                     alt="">
                                <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/c2b99ec90abc2e4.jpg' %}"
                                     alt="">
                                <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/c994d1934ae.jpg' %}"
                                     alt="">
                            </div>

                            <div class="column">
                                <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/2ab607792d3.jpg' %}"
                                     alt="">
                                <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/e1a959981b0850.jpg' %}"
                                     alt="">
                                <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/e67b101d6d6c25.jpg' %}"
                                     alt="">
                                <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/d835a6af192f59.jpg' %}"
                                     alt="">
                                <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/e5676fe8f0654.jpg' %}"
                                     alt="">
                                <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/fe94c5f0d74a.jpg' %}"
                                     alt="">
                                <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/9eb534b9183de883e433.jpg' %}"
                                     alt="">
                                <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/71e3b86667c1a9.jpg' %}"
                                     alt="">
                                
                            </div>
                        </div>
                    </div>
                </div>
            
    </section>
{% endblock content %}

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="{% static 'startbootstrap-the-big-picture-gh-pages/js/scripts.js' %}"></script>
</body>
</html>
