{% extends 'layout/base.html' %}
{% load static %}

{% block content %}
    <div class="content_header">
    A little piece of our work
    </div>
    <section>
        <div class="container-p">
            <div class="text">
                <h4>At White On The Valley, we take immense pride in curating exquisite floral arrangements that add a
                    touch of elegance and beauty to any occasion. With our commitment to quality, creativity, and
                    customer satisfaction, we have built a diverse portfolio showcasing our finest work.</h4>
                <h4> Explore our portfolio and let us help you add a touch of floral magic to life's precious
                    moments.</h4>
                <h4 class="fw-bold">Contact us today to discuss your floral needs and let us create something
                    extraordinary together.</h4>

                <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <h5><label for="exampleFormControlInput1" class="form-label">Email address</label></h5>
                    <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="" required>
                </div>
                <div class="mb-3">
                    <h5><label for="exampleFormControlTextarea1" class="form-label">Message</label></h5>
                    <textarea name="message" class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
                </div>
                <button type="submit" class="btn btn-secondary">Send message</button>
            </form>
            </div>  
            </div>
        
            
            <div class="gallery_body">
                <div class="row-p">
                    <div class="main">
                        <div class="column">
                            <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/8cb021b00e.jpg' %}"
                                 alt="">
                            <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/740fb1a2ccfbb.jpg' %}"
                                 alt="">
                            <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/c1952c00d5d0a7a.jpg' %}"
                                 alt="">
                            <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/5ffcd92cc.jpg' %}"
                                 alt="">
                            <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/8d30b445be.jpg' %}"
                                 alt="">
                            <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/8d243bfb1.jpg' %}"
                                 alt="">
                            <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/8951da2e1f7e2f2.jpg' %}"
                                 alt="">
                            <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/bd09c2bfc6772900.jpg' %}"
                                 alt="">
                        </div>

                        <div class="column">
                            <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/22da84a9220986025.jpg' %}"
                                 alt="">
                            <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/486adba7b7e5608d5e.jpg' %}"
                                 alt="">
                            <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/2c98135c98.jpg' %}"
                                 alt="">
                            <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/faa695856fca541.jpg' %}"
                                 alt="">
                            <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/09c037de3be569ac746c0a.jpg' %}"
                                 alt="">
                            <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/6451e7641acb0.jpg' %}"
                                 alt="">
                            <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/9dfffacb0a.jpg' %}"
                                 alt="">
                            <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/e5ff12f8d2.jpg' %}"
                                 alt="">
                        </div>

                        <div class="column">
                            <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/ce78450dbfc521b6df69.jpg' %}"
                                 alt="">
                            <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/7383c75.jpg' %}"
                                 alt="">
                            <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/7e6843cabec634a4bc.jpg' %}"
                                 alt="">
                            <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/96841613eea.jpg' %}"
                                 alt="">
                            <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/a0ca4cbd166b.jpg' %}"
                                 alt="">
                            <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/ab8fe819ab68bd.jpg' %}"
                                 alt="">
                            <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/c2b99ec90abc2e4.jpg' %}"
                                 alt="">
                            <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/2b6fa3c06f1.jpg' %}"
                                 alt="">
                        </div>

                        <div class="column">
                            <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/2ab607792d3.jpg' %}"
                                 alt="">
                            <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/e1a959981b0850.jpg' %}"
                                 alt="">
                            <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/e67b101d6d6c25.jpg' %}"
                                 alt="">
                            <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/d835a6af192f59.jpg' %}"
                                 alt="">
                            <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/e5676fe8f0654.jpg' %}"
                                 alt="">
                            <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/fe94c5f0d74a.jpg' %}"
                                 alt="">
                            <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/7a58be233b5.jpg' %}"
                                 alt="">
                            <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/gallery/01da1f.jpg' %}"
                                 alt="">
                        </div>
                        
                    </div>
                </div>
            </div>
    </section>
{% endblock content %}

