{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>White On The Valley</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon"
          href="{% static 'startbootstrap-the-big-picture-gh-pages/assets/goodimage2.jpg' %}"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'startbootstrap-the-big-picture-gh-pages/css/styles.css' %}" rel="stylesheet"/>
</head>
<body>

{% include 'layout/menu.html' %}
<section class="flip-box">
    <div class="heading">
        <h2 class="heading-secondary">
            DYI or let as chose for you
        </h2>
    </div>

    <div class="container_box">
        <div class="row">
            <div class="col-md">
                <div class="card">
                    <div class="card-side card-side-front">
                        box
                    </div>
                    <div class="card-side card-side-back">
                        boxes
                    </div>
                </div>
            </div>
            
            <div class="col-md">
                box
            </div>
            <div class="col-md">
                box
            </div>
            <div class="col-md">
                box
            </div>
            <div class="col-md">
                box
            </div>
        </div>
    </div>
        
</section>
</body>
</html>