{% extends 'layout/base.html' %}
{% load static %}

{% include 'layout/menu.html' %}

{% block content %}
<section class="details">
<div>
<h2>DIY|Make your own bouquet of flowers. </h2>
<div class="rowd"> 
  <div class="columnd">
    <div class="contentd">
      <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/dyi/fresia1.jpg' %}" alt="" style="width: 100%">
      <h5>Freesia</h5>
      <p>Lorem ipsum..</p>
    </div>
  </div>
  <div class="columnd">
    <div class="contentd">
      <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/dyi/lisianthus1.jpg' %}" alt="" style="width:100%">
      <h5>Magical Lisianthus</h5>
      <p>Lorem ipsum..</p>
    </div>
  </div>
  <div class="columnd">
    <div class="contentd">
      <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/dyi/spray.roses.jpg' %}" alt="" style="width:100%">
      <h5>Lovely Roses</h5>
      <p>Lorem ipsum..</p>
    </div>
  </div>
  <div class="columnd">
    <div class="contentd">
      <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/dyi/peonies1.jpg' %}" alt="" style="width:100%">
      <h5>Beautiful Peonies</h5>
      <p>Lorem ipsum..</p>
    </div>
  </div>
</div> 
    
<h2>Or You can choose our beautiful bouquet</h2>

<div class="columnd">
    <div class="contentd">
      <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/dyi/bouque peony.jpg' %}" alt="" style="width:100%">
      <h5>Bouquet of Peonies</h5>
      <p>Lorem ipsum..</p>
    </div>
  </div>
  <div class="columnd">
    <div class="contentd">
      <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/dyi/bouque.gerbera.jpg' %}" alt="" style="width:100%">
      <h5>Bouquet of Gerbera</h5>
      <p>Lorem ipsum..</p>
    </div>
  </div>
  <div class="columnd">
    <div class="contentd">
      <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/dyi/bouque roses.jpg' %}" alt="" style="width:100%">
      <h5>Bouquet of Roses</h5>
      <p>Lorem ipsum..</p>
    </div>
  </div>
  <div class="columnd">
    <div class="contentd">
      <img src="{% static 'startbootstrap-the-big-picture-gh-pages/assets/dyi/bouque.lisianthus.jpg' %}" alt="" style="width:100%">
      <h5>Bouquet of Lisianthus</h5>
      <p>Lorem ipsum..</p>
    </div>
  </div>
  </div>
</section>
{% endblock %}
