{% extends 'layout/base.html' %}
{% load static %}

{% block content %}
    <section class="body_d">
         <div class="details">
                <h2 style="color: #5c636a;margin-top: 30px">DIY|Make your own bouquet of flowers.</h2>
               <div class="row_d">
                    {% for product in products_section1 %}
                        <div class="column_d">
                            <div class="content_d">
                                <img src="/media/{{ product.image.url }}" alt="{{ product.name }}" style="width: 100%">
                                <p>{{ product.name }}</p>
                                <p>${{ product.price }}</p>
                                <form action="{% url 'add-to-cart' product.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-secondary btn-sm">Add to cart</button>
                                </form>

                            </div>
                        </div>
                    {% endfor %}
               </div>
         </div>
    </section>
    <section class="body_d">
          <div class="details">
                <h2 style="color: #5c636a">Or You can choose our beautiful bouquet</h2>
               <div class="row_d">
                    {% for product in products_section2 %}
                        <div class="column_d">
                            <div class="content_d">
                                <img src="/media/{{ product.image.url }}" alt="{{ product.name }}" style="width: 100%">
                                <p>${{ product.price }}</p>
                                    <form action="{% url 'cart-view' %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-secondary btn-sm">Add to cart</button>
                                    </form>
                            </div>
                        </div>
                    {% endfor %}
               </div>
          </div>
    </section>
{% endblock %}